.git
.gitignore
Dockerfile
README.md

__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

venv
.env
.env.*

node_modules
tests
docs
docker-compose*

coverage
htmlcov
.cache
.mypy_cache
.pytest_cache

.idea
.vscode
.DS_Store